<div class='mainContentBox registerAccountBox accountSettingsBox'>
  <h1>Are you sure you want to remove this subscription?</h1>
  <%= error_messages_for(@listingOwnership) %>
  <%= form_for(:listingOwnership, :url => {:action => 'update', :id => @listingOwnership.id, :controller => 'ListingOwnership'}) do |f| %>
    <table class='updateFormTable'>
      <colgroup>
        <col class='uftAttribute' />
        <col class='uftValue' />
      </colgroup>
      <tr>
        <td>Reddit Subreddit Title</td>
        <td class='frozen'><%= @listingOwnership.title %></td>
      </tr>
      <tr>
        <td>Display Per Page</td>
        <td class='frozen'><%= @listingOwnership.display_per_page %></td>
      </tr>
      <tr>
        <td>View Aspect</td>
        <td class='frozen'><%= @listingOwnership.view_aspect %></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><%= submit_tag('Remove') %> <span style='font-size:12px;'>or <%= link_to 'Cancel', {:action => 'default', :controller => 'feed'} %>.</span></td>
      </tr>
    </table>
  <% end %>

</div>  