<div class='mainContentBox registerAccountBox'>
  <h1>Register for a New Account</h1>
  <%= error_messages_for(@user) %>
  <%= form_for(:user, :url => {:action => 'create', :controller => 'user'}) do |f| %>
    <table>
      <tr>
        <td>First Name</td>
        <td><%= f.text_field(:first_name) %></td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td><%= f.text_field(:last_name) %></td>
      </tr>
      <tr>
        <td>Email Address</td>
        <td><%= f.text_field(:email) %></td>
      </tr>
      <tr>
        <td>Username</td>
        <td><%= f.text_field(:username) %></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><%= f.password_field(:password) %></td>
      </tr>
      <tr>
        <td>Password Confirmation</td>
        <td><%= f.password_field(:password_confirmation) %></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><%= submit_tag('Register') %></td>
      </tr>
    </table>
  <% end %>
</div>  