<div class='mainContentBox registerAccountBox accountSettingsBox'>
  <h1>Account Settings</h1>
  <%= error_messages_for(@user) %>
  <%= form_for(:user, :url => {:action => 'update', :id => @user.id, :controller => 'user'}) do |f| %>
    <table>
      <tr>
        <td>First Name</td>
        <td><%= f.text_field(:first_name) %></td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td><%= f.text_field(:last_name) %></td>
      </tr>
      <tr>
        <td>Email Address</td>
        <td><%= f.text_field(:email) %></td>
      </tr>
      <tr>
        <td>Username</td>
        <td><%= f.text_field(:username) %></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><%= submit_tag('Update Settings') %> <span style='font-size:12px;'>or <%= link_to 'Cancel', {:action => 'all', :controller => 'feed'} %>.</span></td>
      </tr>
    </table>
    <br>
    <p class='littleNote'>Click <%= link_to 'here', {:action => 'change_password'} %> to change your password. </p>
  <% end %>

</div>  