<!DOCTYPE html>
<html>
<head>
  <title>PBD Demo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class='headerBar'>
		<%= link_to "Reddit Content Viewer", {:controller => "main", :action => "index"}, {:class => "headerBarTitle"} %>
		<div class='headerUserLogin'>
			<% if session[:user_id] %>
        <a href=''><%= session[:username] %></a>
        <%= link_to 'Logout', :action => 'logout', :controller => 'account' %>
      <% else %>
        <%= link_to 'Login', :action => 'login', :controller => 'account' %>
      <% end %>
		</div>
	</div>
  <% if flash[:noticeMessage] %>
    <div class='flashNotice border5<%= @noticeToneClass %>'>
      <%= flash[:noticeMessage] %> Testing value
    </div>
  <% end %>
	<%= yield %>

</body>
</html>
